/* header related styles */

.header{
    background-color: #E554731A;

}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
}

.banner-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
fon

}

.btn-primary{
    padding: 20px 43px;
    border-radius: 10px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.banner .profile-pic{
    width: 600px;
}

.banner-pera{
    color: #27272799;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

/* main section styles */
.section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    
    line-height: 300px;
    
    
}

.section-des {
color: #27272799;
text-align: center;
font-family: Lato;
font-size: 18px;
line-height: 30px;
padding: 5px;
}

/* image section styles */

.picture-flower{
    display: flex;
    gap: 24px;
    align-items: center;
    width: 464px;
height: 538px;
margin: 100px;
padding-left: 50px;

}
.flower-pink{
    padding-left: 45px;
}
.flower-one{
    border-radius: 300px 300px 0px 0px;
background: #A7216226;
padding: 110px 75px 0px 75px;

}
.flower-two{
    border-radius: 300px 300px 0px 0px;
background: #0597A026;
padding: 115px 45px 50px;




}
.flower-three{
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    padding: 67px 75px 0px;
}

.pink-flower-one,.pink-flower-two,.pink-flower-three{ 
    display: inline;
    color: #272727;
    text-align: center;
font-family: Lato;
font-size: 24px;
text-decoration-line: underline;
margin: 0px 0px 0px 275px;

}

/* Hot Deal banner style */

.hot-deal{
    
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
justify-content: center;
}



.banner-two{
    padding-left: 30px;
    display: flex;
    color: #E554730D;
    padding: 30px 30px 30px 186px;
    
    align-items: center;
    
  
}
.span-color{
    color: #E55473;
}

.banner-des{
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}



.btn-sign{
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
}

.insta-bold{
    
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: normal;
justify-content: center;
padding: 50px 800px;
}

.insta-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 30px 400px;
}

.pic-four{
    display: flex;
    justify-items: center;
    padding-left: 200px;
}
.last-banner{
    padding: 60px 160px;
    
    
}
.get.dills{
    display: flex;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.ban-blk {
    background-color: #111010;
}
.banner-black{
    
}



